backend/*.egg-info
config/conf_gn_module.toml
config/settings.ini
frontend/app/module.config.ts
frontend/node_modules
frontend/package.json
frontend/tsconfig.json
log/
var/

__pycache__
*.pyc
.vscode
