<div class="card-body">
  <form class="wrapper wrapper-filter" (click)="formDisabled()">
    <fieldset [disabled]="disabledForm">
      <legend>
        <h5>Nouvelle aire de présence pour la prospection de {{ storeService.idSite }} du {{ storeService.idSite }}</h5>
      </legend>
      <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-sm">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-sm">
          Observateur(s) : {{ storeService.idSite }}
        </div>
        <fieldset>
          <legend>
            <h6>Situation</h6>
          </legend>
          <div class="row row-0">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 padding-sm">
              <small> {{ 'Releve.MinAltitude' | translate }} </small>
              <input class="form-control" type="number" [formControl]="ApFormGroup.controls.altitude_min"
                [disabled]="disabledForm">
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 padding-sm">
              <small> {{ 'Releve.MaxAltitude' | translate }} </small>
              <input class="form-control" type="number" [formControl]="ApFormGroup.controls.altitude_max"
                [disabled]="disabledForm">
            </div>
          </div>
          <div class="row row-0">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 padding-sm">
              <small> Surface </small>
              <input class="form-control" type="number" [formControl]="ApFormGroup.controls.area"
                [disabled]="disabledForm">
            </div>
            <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3 padding-sm">
              <small> Pente estimée</small>
              <div class="" id="newPente">
                <pnx-nomenclature [parentFormControl]="ApFormGroup.controls.id_nomenclatures_pente"
                  [multiSelect]="false" [disabled]="disabledForm" keyValue="id_nomenclature" [bindAllItem]="true"
                  keyLabel="label_default" codeNomenclatureType="TYPE_PENTE">
                </pnx-nomenclature>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-sm">
        <small> Phénologie </small>
        <div class="" id="newPheno">
          <pnx-nomenclature [parentFormControl]="ApFormGroup.controls.id_nomenclatures_phenology" [multiSelect]="false"
            keyValue="id_nomenclature" [bindAllItem]="true" keyLabel="label_default" [disabled]="disabledForm"
            codeNomenclatureType="TYPE_PHENOLOGIE">
          </pnx-nomenclature>
        </div>
      </div>
      <div class="form-group col-xs-8 col-sm-8 col-md-8 col-lg-8 padding-sm">
        <small> Perturbation(s) </small>
        <div class="" id="newPerturs">
          <pnx-nomenclature [parentFormControl]="ApFormGroup.controls.cor_ap_perturbation" [multiSelect]="true"
            [disabled]="disabledForm" keyValue="id_nomenclature" [bindAllItem]="true" keyLabel="label_default"
            codeNomenclatureType="TYPE_PERTURBATION">
          </pnx-nomenclature>
        </div>
      </div>
      <div class="form-group col-xs-8 col-sm-8 col-md-8 col-lg-8 padding-sm">
        <small> Habitat </small>
        <div class="" id="newHabitat">
          <pnx-nomenclature [parentFormControl]="ApFormGroup.controls.id_nomenclatures_habitat" [multiSelect]="false"
            [disabled]="disabledForm" keyValue="id_nomenclature" [bindAllItem]="true" keyLabel="label_default"
            codeNomenclatureType="ETAT_HABITAT">
          </pnx-nomenclature>
        </div>
      </div>
      <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3 padding-sm">
        <small> Fréquence estimée en % </small>
        <div class="">
          <input type="text" class="form-control" id="frequency" [formControl]="ApFormGroup.controls.frequency">
        </div>
      </div>
      <fieldset>
        <legend>
          <h6> Dénombrement </h6>
        </legend>
        <div class="row row-0">
          <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3 padding-sm">
            <small> Objet dénombrement </small>
            <div class="" id="newCounting">
              <pnx-nomenclature [parentFormControl]="ApFormGroup.controls.id_nomenclatures_counting"
                [multiSelect]="false" [disabled]="disabledForm" keyValue="id_nomenclature" [bindAllItem]="true"
                keyLabel="label_default" codeNomenclatureType="OBJ_DENBR">
              </pnx-nomenclature>
            </div>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 padding-sm">
            <small> Min </small>
            <input class="form-control" type="number" [formControl]="ApFormGroup.controls.total_min"
              [disabled]="disabledForm">
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 padding-sm">
            <small> Max </small>
            <input class="form-control" type="number" [formControl]="ApFormGroup.controls.total_max"
              [disabled]="disabledForm">
          </div>
        </div>
      </fieldset>
      <div class="form-group">
        <small> Commentaires </small>
        <div class="">
          <textarea class="form-control" rows="2" id="commentaire"
            [formControl]="ApFormGroup.controls.comment"></textarea>
        </div>
      </div>
    </fieldset>
  </form>
  <button id="add-btn" type="button" class="btn btn-success box-shadow" (click)="onPostAp()" [disabled]="disabledForm">
    <i class="fa fa-plus-circle" aria-hidden="true"> </i> Enregistrer
  </button>
  <button id="cancel-btn" type="button" class="btn btn-cancel box-shadow" (click)="onCancelAp(storeService.idSite)">
    <i class="fa fa-times-circle" aria-hidden="true"> </i> Annuler
  </button>
</div>