  <div class="card-body">
      <form class="wrapper wrapper-filter">
        <fieldset>
          <legend>
            <h3>Ajout d'une nouvelle aire de présence {{ storeService.idSite }}</h3>
          </legend> 
          <div class="form-group">
              <small> Perturbation </small>
              <div class="" id="newPerturs">
                <pnx-nomenclature [parentFormControl]="dynamicFormGroup.controls.cor_zp_observer" [multiSelect]="true"
                    keyValue="id_nomenclature" [bindAllItem]="true" keyLabel="label_default"
                    [disabled]="disabledForm"
                    codeNomenclatureType="TYPE_PERTURBATION">
                </pnx-nomenclature>
              </div>
          </div>
          <div class="form-group">
              <small> Physionomie </small>
              <div class="" id="newPhysio">
                <pnx-nomenclature [parentFormControl]="dynamicFormGroup.controls.cor_zp_observer" [multiSelect]="true"
                    keyValue="id_nomenclature" [bindAllItem]="true" keyLabel="label_default"
                    [disabled]="disabledForm"
                    codeNomenclatureType="TYPE_PHYSIONOMIE">
                </pnx-nomenclature>
              </div>
          </div>
          <div class="form-group">
              <small> Phénologie </small>
              <div class="" id="newPheno">
                <pnx-nomenclature [parentFormControl]="dynamicFormGroup.controls.cor_zp_observer" [multiSelect]="false"
                    keyValue="id_nomenclature" [bindAllItem]="true" keyLabel="label_default"
                    [disabled]="disabledForm"
                    codeNomenclatureType="TYPE_PHENOLOGIE">
                </pnx-nomenclature>
              </div>
          </div>
          <div class="form-group">
              <small> Méthode de comptage </small>
              <div class="" id="newCountMethod">
                <pnx-nomenclature [parentFormControl]="dynamicFormGroup.controls.cor_zp_observer" [multiSelect]="false"
                    keyValue="id_nomenclature" [bindAllItem]="true" keyLabel="label_default"
                    [disabled]="disabledForm"
                    codeNomenclatureType="METHODE_COMPTAGE">
                </pnx-nomenclature>
              </div>
          </div>
          <div class="form-group">
              <small> Pente </small>
              <div class="" id="newPente">
                <pnx-nomenclature [parentFormControl]="dynamicFormGroup.controls.cor_zp_observer" [multiSelect]="false"
                    keyValue="id_nomenclature" [bindAllItem]="true" keyLabel="label_default"
                    [disabled]="disabledForm"
                    codeNomenclatureType="PENTE">
                </pnx-nomenclature>
              </div>
          </div>
          <div class="form-group">
            <small> Total stériles </small>
            <div class="">
              <input type="text" class="form-control" id="commentaire"
                [formControl]="dynamicFormGroup.controls.comments">
            </div>
            <small> Total fertiles </small>
            <div class="">
              <input type="text" class="form-control" id="commentaire"
                [formControl]="dynamicFormGroup.controls.comments">
            </div>
            <small> Total stériles </small>
            <div class="">
              <input type="text" class="form-control" id="commentaire"
                [formControl]="dynamicFormGroup.controls.comments">
            </div>
            <small> Total fertiles </small>
            <div class="">
              <input type="text" class="form-control" id="commentaire"
                [formControl]="dynamicFormGroup.controls.comments">
            </div>
          </div>
          <div class="form-group">
            <small> Commentaires </small>
            <div class="">
              <textarea class="form-control" rows="2" id="commentaire"
                [formControl]="dynamicFormGroup.controls.comments"></textarea>
            </div>
          </div>
        </fieldset>
      </form>
      <button id="add-btn" type="button" class="btn btn-success box-shadow" (click)="onPostAp()">
        <i class="fa fa-plus-circle" aria-hidden="true"> </i> Ajouter
      </button>
      <button id="cancel-btn" type="button" class="btn btn-cancel box-shadow" (click)="onCancelAddAp()">
        <i class="fa fa-times-circle" aria-hidden="true"> </i> Annuler
      </button>
  </div>

