<div class="row mx-0">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 px-0">
    <pnx-map height="92vh">
      <pnx-geojson
        [onEachFeature]="onEachZp.bind(this)"
        [geojson]="storeService.zp"
        [zoomOnFirstTime]="true"
      >
      </pnx-geojson>
      <pnx-geojson
        [onEachFeature]="onEachFeature.bind(this)"
        [geojson]="storeService.sites"
      >
      </pnx-geojson>
    </pnx-map>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-0 mh-100">
    <div class="col px-0 text-left">
      <button
        type="button"
        class="btn btn-link btn-sm back-button"
        (click)="backToZpsList()"
      >
        <i class="fa fa-arrow-left" aria-hidden="true"> </i>
        Retour à la liste des zones de prospection
      </button>
    </div>

    <div class="card px-0">
      <h3 class="card-header">
        Consultation des aires de présence de la ZP {{ idZp }}
      </h3>

      <div class="card-body overflow-auto px-2">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a
              id="nav-infos-general-tab"
              class="nav-link active"
              data-toggle="tab"
              href="#infos-general"
              role="tab"
            >
              <mat-icon>info</mat-icon>
              Informations Générales
            </a>
          </li>
          <li class="nav-item">
            <a
              id="nav-infos-details-tab"
              class="nav-link"
              data-toggle="tab"
              href="#infos-details"
              role="tab"
            >
              <mat-icon>search</mat-icon>
              Détails
            </a>
          </li>
        </ul>

        <div class="tab-content m-2">
          <div
            id="infos-general"
            class="tab-pane active"
            role="tabpanel"
            aria-labelledby="nav-infos-general-tab"
          >
            <div class="mb-2">
              <mat-icon class="h5">tag</mat-icon>
              <b>Identifiant : </b>
              {{ storeService.zpProperties.id_zp }}
            </div>

            <div class="mb-2">
              <mat-icon class="h5">local_florist</mat-icon>
              <b> Taxon : </b>
              {{ storeService.zpProperties?.taxonomy?.nom_complet }}
            </div>

            <div class="mb-2">
              <mat-icon class="h5">event</mat-icon>
              <b> Date : </b>
              {{
                storeService.zpProperties.date_min
                  | date: 'longDate':null:'fr'
              }}
            </div>

            <div class="mb-2">
              <mat-icon class="h5">group_add</mat-icon>
              <b>Observateur(s) : </b>
              <ul class="comma-list">
                <li
                  *ngFor="let obs of storeService.zpProperties?.observers"
                >{{ obs.nom_complet }}</li>
              </ul>
            </div>
          </div>

          <div
            id="infos-details"
            class="tab-pane fade"
            role="tabpanel"
            aria-labelledby="nav-infos-details-tab"
          >
            <div class="mb-2">
              <mat-icon class="h5">signpost</mat-icon>
              <b> Nom du site : </b>
              {{ storeService.zpProperties.id_zp }}
            </div>

            <div class="mb-2">
              <mat-icon class="h5">map</mat-icon>
              <b>Commune(s) : </b>
              <ul class="comma-list">
                <li
                  *ngFor="let area of storeService.zpProperties?.areas"
                >{{ area.area_name }}</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="mx-0 mb-0 mt-3">
          <ngx-datatable
            #table
            class="material striped margin-top-xs table-size expandable"
            [columnMode]="'force'"
            [rows]="mapListService.tableData"
            maxWidth="90"
            [headerHeight]="35"
            [footerHeight]="40"
            [rowHeight]="40"
            [rowHeight]="'auto'"
            [messages]="storeService.fpConfig.datatable_ap_messages"
            [selected]="mapListService.selectedRow"
            [selectionType]="'single'"
            (select)="mapListService.onRowSelect($event)"
            [rowClass]="mapListService.getRowClass"
          >
            <ngx-datatable-row-detail [rowHeight]="auto" #myDetailRow>
              <ng-template
                let-row="row"
                let-expanded="expanded"
                ngx-datatable-row-detail-template
              >
                <dl class="def-list-inline small">
                  <dt>Phénologie</dt>
                  <dd [matTooltip]="row.pheno?.definition_default">
                    {{ row.pheno?.label_default }}&nbsp;
                  </dd>

                  <dt>Pente</dt>
                  <dd [matTooltip]="row.incline?.definition_default">
                    {{ row.incline?.label_default }}&nbsp;
                  </dd>

                  <dt>Type d'habitat</dt>
                  <dd [matTooltip]="row.habitat?.definition_default">
                    {{ row.habitat?.label_default }}&nbsp;
                  </dd>

                  <dt>Dénombrement</dt>
                  <dd>
                    <span
                      *ngIf="row.total_min == row.total_max; else totalDiff"
                    >
                      {{ row.total_min }}
                    </span>
                    <ng-template>
                      <span #totalDiff>
                        min. : {{ row.total_min }} / max. : {{ row.total_max }}
                      </span>
                    </ng-template>
                    <ng-container *ngIf="row.counting">
                      (<span [matTooltip]="row.counting?.definition_default">
                        {{ row.counting?.label_default }} </span
                      >)
                    </ng-container>
                    &nbsp;
                  </dd>

                  <dt>Perturbations</dt>
                  <dd>
                    <ul class="comma-list">
                      <li
                        *ngFor="let perturbation of row.perturbations"
                        [matTooltip]="perturbation.definition_default"
                      >{{ perturbation.label_default }}</li>
                    </ul>
                    &nbsp;
                  </dd>

                  <dt>Remarques</dt>
                  <dd>{{ row.comment }}&nbsp;</dd>
                </dl>
              </ng-template>
            </ngx-datatable-row-detail>

            <ngx-datatable-column maxWidth="10">
              <ng-template
                let-row="row"
                let-expanded="expanded"
                ngx-datatable-cell-template
              >
                <a
                  href="javascript:void(0)"
                  [class.datatable-icon-right]="!expanded"
                  [class.datatable-icon-down]="expanded"
                  title="Détails"
                  (click)="toggleExpandRow(row)"
                >
                </a>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column maxWidth="10">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button
                  type="button"
                  class="btn btn-outline-shadow btn-no-padding btn-ghost"
                  (click)="onEditAp(storeService.idSite, row.id_ap)"
                  title="Editer"
                >
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column maxWidth="10">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button
                  type="button"
                  class="btn btn-outline-shadow btn-no-padding btn-ghost"
                  (click)="onDeleteAp(row.id_ap)"
                  title="Supprimer"
                >
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column
              *ngFor="let col of displayColumns"
              [name]="col.name"
              [prop]="col.prop"
              maxWidth="col.maxWidth"
              [cellClass]="col.prop == 'area' ? 'text-right' : ''"
            >
              <ng-template
                *ngIf="col.prop == 'frequency'"
                let-value="value"
                ngx-datatable-cell-template
              >
                {{ value | number:'1.0-2':'fr'}}
              </ng-template>

              <ng-template
                *ngIf="col.prop == 'favorable_status_percent'"
                let-value="value"
                ngx-datatable-cell-template
              >
                {{ value | number:'1.0-2':'fr' }}%
              </ng-template>

              <ng-template
                *ngIf="col.prop == 'area'"
                let-value="value"
                ngx-datatable-cell-template
                style="text-align: right;"
              >
                {{ value | number:'1.0-0':'fr' }}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>

      <div class="card-footer">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <pnx-modal-download
              *ngIf="mapListService.tableData.length > 0"
              labelButton="Télécharger ces aires de présence"
              [pathDownload]="storeService.urlLoad"
              [exportFormat]="storeService.fpConfig.export_available_format"
              [queryString]="storeService.queryString"
            >
            </pnx-modal-download>
          </div>
          <div class="col-sm-12 col-md-6 text-right">
            <button
              type="button"
              class="btn btn-sm btn-success box-shadow"
              (click)="onAddAp(storeService.idSite)"
            >
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
              Ajouter une nouvelle aire de présence
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
