<div class="row mx-0">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 px-0">
    <pnx-map height="92vh" [center]="center" [zoom]="zoom">
      <pnx-geojson [onEachFeature]="onEachFeature.bind(this)" [geojson]="geojson"></pnx-geojson>
    </pnx-map>
  </div>

  <div class="card col-xs-12 col-sm-12 col-md-6 col-lg-6 px-0">
    <h3 class="card-header">
      Consultation des Zones de Prospection
    </h3>

    <div class="card-body overflow-auto px-2">
      <form>
        <fieldset>
          <legend class="px-2">
            <mat-icon>tune</mat-icon>
            Filtres
          </legend>
          <div class="row">
            <div class="searchSite col">
              <label for="filterYear" class="mt-2 mb-0">
                <small>
                  <mat-icon inline>calendar_month</mat-icon>
                  Année de visite
                </small>
              </label>
              <input
                type="number"
                class="form-control form-control-sm"
                [formControl]="filtersForm.controls.filterYear"
                min="1991"
                [max]="currentYear"
                placeholder="Saisissez une année (Ex.: 2013)"
              />
            </div>
            <div class="searchSite col">
              <label for="filterTaxon" class="mt-2 mb-0">
                <small>
                  <mat-icon inline>local_florist</mat-icon>
                  Taxon
                </small>
              </label>
              <pnx-taxonomy
                #taxon
                [parentFormControl]="filtersForm.controls.filterTaxon"
                [idList]="storeService.fpConfig.taxons_list_code"
                [charNumber]="3"
                [listLength]="20"
                (onChange)="onSearchTaxon($event)"
                (onDelete)="onRemoveTaxon()"
                matTooltip="Commencez à saisir les 3 premiers caractères
                  d'un nom de taxon présent dans la liste pré-définie du module."
              >
              </pnx-taxonomy>
            </div>
          </div>
          <div class="row">
            <div class="searchSite col">
              <label for="filterOrga" class="mt-2 mb-0">
                <small>
                  <mat-icon inline>domain</mat-icon>
                  Organisme
                </small>
              </label>
              <select
                class="form-control form-control-sm"
                name="selectOrg"
                [formControl]="filtersForm.controls.filterOrga"
              >
                <option [ngValue]="null">
                  -- Sélectionnez un organisme --
                </option>
                <option [value]="org.id_organism" *ngFor="let org of organisms">
                  {{ org.name }}
                </option>
              </select>
            </div>
            <div class="searchSite col">
              <label for="filterCom" class="mt-2 mb-0">
                <small>
                  <mat-icon inline>map</mat-icon>
                  Commune
                </small>
              </label>
              <select
                class="form-control form-control-sm"
                name="selectCom"
                [formControl]="filtersForm.controls.filterCom"
              >
                <option [ngValue]="null">
                  -- Sélectionnez une commune --
                </option>
                <option *ngFor="let m of municipalities" [value]="m.id_area">
                  {{ m.municipality }}
                </option>
              </select>
            </div>
          </div>
        </fieldset>
      </form>

      <div class="mx-0 mb-0 mt-3">
        <ngx-datatable
          #table
          class="material striped margin-top-xs table-size expandable"
          [rows]="filteredData"
          maxWidth="90"
          [headerHeight]="35"
          [footerHeight]="40"
          [rowHeight]="40"
          [columnMode]="'force'"
          [selected]="mapListService.selectedRow"
          [selectionType]="'single'"
          (select)="mapListService.onRowSelect($event)"
          [rowClass]="mapListService.getRowClass"
          [loadingIndicator]="mapListService.isLoading"
          [externalPaging]="true"
          [count]="nbZp"
          (page)="onChangePage($event)"
          [messages]="storeService.fpConfig.datatable_zp_messages"
          [offset]="mapListService.page.pageNumber"
          [limit]="10"
        >
          <ngx-datatable-column maxWidth="25">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <button
                type="button"
                class="btn btn-outline-shadow btn-no-padding btn-ghost"
                (click)="onEditZp(row.id_zp)"
                title="Editer"
                [disabled]="!row.rights.U"
              >
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </button>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column maxWidth="25">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <button
                type="button"
                class="btn btn-outline-shadow btn-no-padding btn-ghost"
                (click)="onInfo(row.id_zp)"
                title="Visualiser"
              >
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </button>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column maxWidth="25">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <button
                type="button"
                class="btn btn-outline-shadow btn-no-padding btn-ghost"
                (click)="onDeleteZp(row.id_zp)"
                [disabled]="!row.rights.D"
                title="Supprimer"
              >
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </button>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            *ngFor="let col of displayColumns"
            [name]="col.name"
            [prop]="col.prop"
            [maxWidth]="col.width"
            [cellClass]="col.prop == 'area' ? 'text-right' : ''"
          >
            <ng-template
              *ngIf="col.prop == 'taxonomy.nom_valide'"
              let-value="value"
              ngx-datatable-cell-template
            >
              <i>{{ value }}</i>
            </ng-template>

            <ng-template
              *ngIf="col.prop == 'date_min'"
              let-value="value"
              ngx-datatable-cell-template
            >
              {{ value | date: 'shortDate':null:'fr' }}
            </ng-template>

            <ng-template
              *ngIf="col.prop == 'area'"
              let-value="value"
              ngx-datatable-cell-template
              style="text-align: right;"
            >
              {{ value | number: '1.0-0':'fr' }}
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>

    <div class="card-footer">
      <div class="row">
        <div class="col">
          <pnx-modal-download
            labelButton="Télécharger ces aires de présence"
            [pathDownload]="storeService.urlLoad"
            [exportFormat]="storeService.fpConfig.export_available_format"
            [queryString]="storeService.queryString"
          >
          </pnx-modal-download>
        </div>
        <div class="col text-right">
          <button type="button" class="btn btn-sm btn-success box-shadow" (click)="onAddZp()">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            Ajouter une nouvelle zone de prospection
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
