# Paramètres du module
zoom_center = [44.982667966765845, 6.062455200884894]
zoom = 12
export_srid = 2154

site_message = {emptyMessage = "Aucun site à afficher ", totalMessage = "sites(s) au total"}
list_visit_message = {emptyMessage = "Aucune visite sur ce site ", totalMessage = "visites au total"}
detail_list_visit_message = {emptyMessage = "Aucune autre visite sur ce site ", totalMessage = "visites au total"}

default_site_columns = [
    { name = "Identifiant", prop = "id_zp", width = "90"},
    { name = "Taxon", prop = "cd_nom", width = "350"},
    { name = "Date Min", prop = "date_min", width = "120"},
    { name = "Date Max", prop = "date_max", width = "160"},
]

default_list_visit_columns = [
    { name = "Date", prop = "visit_date_min"},
    { name = "Observateur(s)", prop = "observers"}
]