
<div class="row row-0">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-sm">
    <!-- MAP -->
    <pnx-map height="94vh" [center]="center" [zoom]="zoom">
      <pnx-leaflet-draw [options]="leafletDrawOptions" [zoomLevel]="1" (layerDrawed)="getGeojson($event)"
        (layerDeleted)="deleteControlValue()">
      </pnx-leaflet-draw>
    </pnx-map>
  </div>

  <div class="card col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-sm tab-container list-sht">
    <div class="card-body">
      <form class="wrapper wrapper-filter">
        <fieldset>
          <legend>
            <h3>Ajout d'une nouvelle zone de prospection</h3>
          </legend>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <small> Taxon : </small>
              <pnx-taxonomy #taxon [parentFormControl]="ZpFormGroup.controls.cd_nom" [idList]="storeService.shtConfig.id_list_taxon"
                [charNumber]="3" [listLength]="20" >
              </pnx-taxonomy>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <small> Date : </small>
              <pnx-date [parentFormControl]="ZpFormGroup.controls.date_min">
              </pnx-date>
            </div>
          </div>
          <div class="form-group">
            <small> Observateur(s) : </small>
            <div class="" id="newObserver">
              <pnx-observers [parentFormControl]="ZpFormGroup.controls.cor_zp_observer" [bindAllItem]="true"
              [idMenu]="storeService.shtConfig.id_menu_list_user" >
              </pnx-observers>
            </div>
          </div>
        </fieldset>
      </form>
      <button id="add-btn" type="button" class="btn btn-success box-shadow" (click)="onPostZp()">
        <i class="fa fa-plus-circle" aria-hidden="true"> </i> Enregistrer
      </button>
      <button id="cancel-btn" type="button" class="btn btn-cancel box-shadow" (click)="onCancelAddZp()">
        <i class="fa fa-times-circle" aria-hidden="true"> </i> Annuler
    </button>
    </div>
  </div>
</div>