.box-shadow {
  box-shadow: 4px 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-sht {
  max-height: 92vh;
  overflow-y: auto;
  padding-bottom: 5px;
}

.list-group-item {
  background-color: #fff;
  color: #181818;
  border: none;
}

.wrapper {
  margin-bottom: 18px;
}

.back-button {
  text-align: left;
}

.btn-color {
  color: #fff;
  background-color: #17c001;
  border-color: #17c001;
  text-align: right;
}
.btn-color:hover {
  background-color: #14af00;
  border-color: #14af00;
}

#add-btn {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  padding: 5px;
}