<div class="row mx-0">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 px-0">
    <pnx-map height="92vh">
      <pnx-geojson
        [onEachFeature]="onEachZp.bind(this)"
        [geojson]="storeService.zp"
        [zoomOnFirstTime]="true"
      >
      </pnx-geojson>
      <pnx-leaflet-draw
        [geojson]="geojson"
        [options]="storeService.leafletDrawOptions"
        (layerDeleted)="deleteApGeom()"
      >
      </pnx-leaflet-draw>
      <pnx-leaflet-filelayer
        [editMode]="false"
        (onLoad)="displayFileLayerInfoMessage()"
        [style]="{'color': mapGpxColor}">
      </pnx-leaflet-filelayer>
    </pnx-map>
  </div>

  <div class="card col-xs-12 col-sm-12 col-md-6 col-lg-6 px-0">
    <h3 class="card-header">
      <ng-container *ngIf="idAp == null; else updateMode">Ajout</ng-container>
      <ng-template #updateMode>Édition</ng-template>
      d'une aire de présence pour la prospection de
      <b>{{ storeService.zpProperties?.taxonomy?.nom_valide }}</b>
      le <b>{{ storeService.zpProperties?.date_min | date: 'longDate':null:'fr' }}</b>
    </h3>

    <div class="card-body overflow-auto px-2 no-gutters">
      <p class="card-text">
        <b>Observateur(s) : </b>
        <b *ngFor="let obs of storeService.zpProperties?.observers">
          {{ obs.nom_complet }} ;</b
        >
      </p>

      <form>
        <fieldset>
          <legend>
            <h4>
              <mat-icon>map</mat-icon>
              1. Situation
            </h4>
          </legend>

          <div class="row form-group">
            <div class="col-xs-12 col-sm-6">
              <label for="altitude_min">Altitude min.</label>
              <input
                [ngClass]="{
                  'is-invalid': apForm.errors?.invalidAltitude
                }"
                class="form-control"
                type="number"
                [formControl]="apForm.controls.altitude_min"
              />
            </div>

            <div class="col-xs-12 col-sm-6 pl-2">
              <label for="altitude_max">Altitude max.</label>
              <input
                [ngClass]="{
                  'is-invalid': apForm.errors?.invalidAltitude
                }"
                class="form-control"
                type="number"
                [formControl]="apForm.controls.altitude_max"
              />
            </div>
          </div>

          <div
            *ngIf="apForm.errors?.invalidAltitude"
            class="alert alert-warning"
            role="alert"
          >
            L'altitude maximum ne peut pas être inférieur à l'altitude
            minimum.
          </div>

          <div class="row form-group">
            <div class="col-xs-12 col-sm-6">
              <label for="id_nomenclature_incline">Pente estimée</label>
              <div id="newPente">
                <pnx-nomenclature
                  [parentFormControl]="
                    apForm.controls.id_nomenclature_incline
                  "
                  [multiSelect]="false"
                  keyValue="id_nomenclature"
                  codeNomenclatureType="INCLINE_TYPE"
                >
                </pnx-nomenclature>
              </div>
            </div>

            <div
              class="col-xs-12 col-sm-6 pl-2"
              matTooltip="La surface est calculée automatiquement
                en fonction de l'aire de présence tracée sur la carte."
            >
              <label for="area">Surface (m²)</label>
              <input

                class="form-control"
                type="number"
                [formControl]="apForm.controls.area"
              />
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-12 col-md-8">
              <label for="physiognomies">Physionomies</label>
              <pnx-nomenclature
                [bindAllItem]="true"
                [parentFormControl]="apForm.controls.physiognomies"
                [multiSelect]="true"
                keyValue="id_nomenclature"
                codeNomenclatureType="PHYSIOGNOMY_TYPE"
              >
              </pnx-nomenclature>
            </div>
          </div>

          <div *ngIf="!apForm?.value?.geom_4326">
            <p class="alert alert-warning" role="alert">
              <mat-icon>warning</mat-icon>
              Veuillez saisir la géométrie de l'AP sur la carte.
            </p>
          </div>
        </fieldset>

        <fieldset>
          <legend>
            <h4>
              <mat-icon>landscape</mat-icon>
              2. Habitat
            </h4>
          </legend>

          <div class="row form-group">
            <div class="col-sm-12 col-md-8">
              <label for="id_nomenclature_habitat">État de conservation dominant de l'habitat</label>
              <pnx-nomenclature
                [parentFormControl]="
                  apForm.controls.id_nomenclature_habitat
                "
                [multiSelect]="false"
                keyValue="id_nomenclature"
                codeNomenclatureType="HABITAT_STATUS"
              >
              </pnx-nomenclature>
            </div>
          </div>


          <div class="row form-group">
            <div class="col-xs-3">
              <label for="favorable_status_percent">
                Estimation % AP en état de conservation favorable
              </label>
              <div class="input-group">
                <input
                  type="range"
                  class="form-control"
                  id="favorable_status_percent"
                  min="0"
                  max="100"
                  [formControl]="apForm.controls.favorable_status_percent"
                />
                <div class="input-group-append ml-3">
                  <span class="input-group-text">
                    <ng-container
                      *ngIf="
                        apForm.controls.favorable_status_percent.value != undefined ;
                        else undefinedFavorableStatusPercent
                      "
                    >
                      {{ apForm.controls.favorable_status_percent.value }}%
                    </ng-container>
                    <ng-template #undefinedFavorableStatusPercent class="input-group-text">?</ng-template>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div
            *ngIf="apForm.controls.favorable_status_percent.errors?.max"
            class="alert alert-warning row"
            role="alert"
          >
            <mat-icon>warning</mat-icon>
            L'estimation ne peux dépasser 100%.
          </div>
          <div
            *ngIf="apForm.controls.favorable_status_percent.errors?.min"
            class="alert alert-warning row"
            role="alert"
          >
            <mat-icon>warning</mat-icon>
            L'estimation ne peux être inférieure à 0%.
          </div>

          <div class="row form-group">
            <div class="col-sm-12 col-md-8">
              <label for="id_nomenclature_threat_level">Niveau de menace/perturbation</label>
              <pnx-nomenclature
                [parentFormControl]="apForm.controls.id_nomenclature_threat_level"
                [multiSelect]="false"
                keyValue="id_nomenclature"
                codeNomenclatureType="THREAT_LEVEL"
              >
              </pnx-nomenclature>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-12 col-md-8">
              <label for="perturbations">Perturbations</label>
              <pnx-nomenclature
                [bindAllItem]="true"
                [parentFormControl]="apForm.controls.perturbations"
                [multiSelect]="true"
                keyValue="id_nomenclature"
                codeNomenclatureType="TYPE_PERTURBATION"
              >
              </pnx-nomenclature>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <legend>
            <h4>
              <mat-icon>update</mat-icon>
              3. Phénologie
            </h4>
          </legend>

          <div class="row form-group">
            <div class="col-sm-12 col-md-8">
              <pnx-nomenclature
                [parentFormControl]="
                  apForm.controls.id_nomenclature_phenology
                "
                [multiSelect]="false"
                keyValue="id_nomenclature"
                codeNomenclatureType="PHENOLOGY_TYPE"
              >
              </pnx-nomenclature>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <legend>
            <h4>
              <mat-icon>bar_chart</mat-icon>
              4. Fréquence
            </h4>
          </legend>

          <div class="row form-group">
            <div class="col-sm-12 col-md-8">
              <label for="id_nomenclature_frequency_method">Méthode</label>
              <pnx-nomenclature
                [parentFormControl]="apForm.controls.id_nomenclature_frequency_method"
                [multiSelect]="false"
                keyValue="id_nomenclature"
                codeNomenclatureType="FREQUENCY_METHOD"
              >
              </pnx-nomenclature>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-xs-3">
              <label for="frequency">Fréquence estimée en %</label>
              <div class="input-group">
                <input
                  type="range"
                  class="form-control"
                  id="frequency"
                  min="0"
                  max="100"
                  [formControl]="apForm.controls.frequency"
                />
                <div class="input-group-append ml-3">
                  <ng-container
                      *ngIf="
                        apForm.controls.frequency.value != undefined ;
                        else undefinedFrequency
                      "
                    >
                      {{ apForm.controls.frequency.value }}%
                    </ng-container>
                    <ng-template #undefinedFrequency class="input-group-text">?</ng-template>
                </div>
              </div>
            </div>
          </div>
          <div
            *ngIf="apForm.controls.frequency.errors?.max"
            class="alert alert-warning row"
            role="alert"
          >
            <mat-icon>warning</mat-icon>
            La fréquence ne peux dépasser 100%.
          </div>
          <div
            *ngIf="apForm.controls.frequency.errors?.min"
            class="alert alert-warning row"
            role="alert"
          >
            <mat-icon>warning</mat-icon>
            La fréquence ne peux être inférieure à 0%.
          </div>
        </fieldset>

        <fieldset>
          <legend>
            <h4>
              <mat-icon>pin</mat-icon>
              5. Dénombrement
            </h4>
          </legend>

          <div class="row row-0 form-group">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 padding-sm">
              <small> Objet dénombrement </small>
              <div id="newCounting">
                <pnx-nomenclature
                  #countingMethod
                  [parentFormControl]="
                    apForm.controls.id_nomenclature_counting
                  "
                  [multiSelect]="false"
                  keyValue="id_nomenclature"
                  codeNomenclatureType="COUNTING_TYPE"
                  (onChange)="onCountingChange($event)"
                >
                </pnx-nomenclature>
              </div>
            </div>

            <div
              *ngIf="countingMethod.getCdNomenclature() == COUNTING_TYPES.census"
              class="col-xs-6 col-sm-6 col-md-4 col-lg-4 padding-sm"
            >
              <small> Nombre </small>
              <input
                class="form-control"
                type="number"
                min="0"
                [formControl]="apForm.controls.total"
              />
            </div>

            <div
              *ngIf="countingMethod.getCdNomenclature() == COUNTING_TYPES.sampling"
              class="col-xs-6 col-sm-6 col-md-2 col-lg-2 padding-sm"
            >
              <small> Min </small>
              <input
                [ngClass]="{
                  'is-invalid': apForm.errors?.invalidCount
                }"
                class="form-control"
                type="number"
                min="0"
                [formControl]="apForm.controls.total_min"
              />
            </div>

            <div
              *ngIf="countingMethod.getCdNomenclature() == COUNTING_TYPES.sampling"
              class="col-xs-6 col-sm-6 col-md-2 col-lg-2 padding-sm"
            >
              <small> Max </small>
              <input
                [ngClass]="{
                  'is-invalid': apForm.errors?.invalidCount
                }"
                class="form-control"
                type="number"
                min="0"
                [formControl]="apForm.controls.total_max"
              />
            </div>

          </div>

          <div
            *ngIf="apForm.controls.total.errors?.min"
            class="alert alert-warning row"
            role="alert"
          >
            <mat-icon>warning</mat-icon>
            La dénombrement ne peux être inférieure à 0.
          </div>

          <div
            *ngIf="apForm.controls.total_min.errors?.min"
            class="alert alert-warning row"
            role="alert"
          >
            <mat-icon>warning</mat-icon>
            La dénombrement minimum ne peux être inférieure à 0.
          </div>

          <div
            *ngIf="apForm.controls.total_max.errors?.min"
            class="alert alert-warning row"
            role="alert"
          >
            <mat-icon>warning</mat-icon>
            La dénombrement maximum ne peux être inférieure à 0.
          </div>

          <div
            *ngIf="apForm.errors?.invalidCount"
            class="alert alert-warning"
            role="alert"
          >
            Le dénombrement maximum ne peut pas être inférieur au
            dénombrement minimum.
          </div>
        </fieldset>

        <fieldset>
          <legend>
            <h4>
              <mat-icon>comment</mat-icon>
              6. Commentaires
            </h4>
          </legend>
          <div
            class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-sm"
          >
            <textarea
              class="form-control"
              rows="5"
              id="commentaire"
              [formControl]="apForm.controls.comment"
            ></textarea>
          </div>
        </fieldset>
      </form>
    </div>

    <div class="card-footer">
      <div class="row">
        <div class="col">
          <button
            type="button"
            class="btn btn-danger box-shadow"
            (click)="onCancel(storeService.idSite)"
          >
            <i class="fa fa-times-circle" aria-hidden="true"> </i>
            Annuler
          </button>
        </div>

        <div class="col text-right">
          <div
            [matTooltip]="
              (apForm.valid && apForm.dirty)
              ? 'Enregistrer le formulaire.'
              : (
                (!apForm.pristine)
                ? 'Formulaire invalide, vérifier les messages d&rsquo;erreur.'
                : (
                  (idAp === undefined)
                  ? 'Veuillez compléter le formulaire.'
                  : 'Veuillez modifier le formulaire.'
                )
              )
            "
          >
            <button
              [disabled]="!apForm.valid || apForm.pristine"
              type="button"
              class="btn btn-success box-shadow"
              (click)="onSubmit()"
            >
              <i class="fa fa-plus-circle" aria-hidden="true"> </i>
              Enregistrer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
